<div class="flex justify-content-between align-items-center shadow-1 px-4 py-2">
  <div class="flex align-items-center gap-4">
    <a href="/main" class="text-xl">Главная</a>
    <p-button
      severity="contrast"
      (click)="navigateProjects()"
      label="Emails"
      badge="2"
      badgeSeverity="primary"
      label="Проекты"
      icon="pi pi-folder"
      outlined
    />
  </div>
  <div class="flex align-items-center gap-2 py-1">
    <input type="text" pInputText placeholder="Поиск" />
    <p-button icon="pi pi-plus" [rounded]="true" severity="success" />
    <p-overlaybadge value="2" severity="contrast" badgeSize="small">
      <p-button
        icon="pi pi-bell"
        [rounded]="true"
        severity="warn"
        [outlined]="true"
        (click)="openNotifications()"
      />
    </p-overlaybadge>
    <p-menu #menu [model]="profileItems" [popup]="true" />
    <p-avatar
      icon="pi pi-user"
      size="large"
      shape="circle"
      (click)="menu.toggle($event)"
    />
  </div>
</div>
