<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Жүйеге кіру" [style]="{ width: '400px' }">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="my-2">
        <label for="email">Email</label>
        <input formControlName="email" pInputText class="w-full" />
      </div>

      <div class="my-2">
        <label for="password">Құпиясөз</label>
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [inputStyle]="{ width: '100%' }"
          [style]="{ width: '100%' }"
        />
      </div>

      <p-button
        type="submit"
        label="Кіру"
        styleClass="w-full"
        [disabled]="loginForm.invalid"
      ></p-button>
    </form>
    <p-divider />
    <a href="/register">Аккаунт жоқ па?</a>
  </p-card>
</div>
