<div class="m-3">
  <p-panel>
    <form [formGroup]="userForm" (ngSubmit)="onSumbit()">
      <div class="flex gap-3 align-items-center justify-content-between">
        <div class="flex gap-8 align-items-center">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            class="mr-2"
            size="xlarge"
            shape="circle"
          />
          <div class="flex flex-column">
            <p class="m-0 text-xl font-bold">Имя и фамилия</p>
            <p class="m-0 text-500">Роль: Admin</p>
            <p class="m-0 text-500">Должность: Менеджер</p>
          </div>
        </div>
        <div class="flex">
          <p-button
            *ngIf="!isEditing"
            label="Редактировать"
            (onClick)="enableEditing()"
          ></p-button>

          <ng-container *ngIf="isEditing">
            <div class="flex gap-3">
              <p-button
                label="Отменить"
                severity="info"
                (onClick)="cancelEditing()"
              ></p-button>
              <p-button
                label="Сохранить"
                severity="success"
                type="submit"
              ></p-button>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="width-65 flex justify-content-center flex-wrap my-5 gap-3">
        <div class="flex flex-column">
          <label for="name">Полное имя</label>
          <input
            formControlName="name"
            pInputText
            id="name"
            style="width: 30rem"
          />
        </div>
        <div class="flex flex-column">
          <label for="email">Email</label>
          <input
            formControlName="email"
            pInputText
            id="email"
            placeholder="myEmail@mail.ru"
            style="width: 30rem"
          />
        </div>
        <div class="flex flex-column">
          <label for="gender">Пол</label>
          <p-select
            formControlName="gender"
            [options]="gender"
            placeholder="Выберите пол"
            class="width-30"
          />
        </div>
        <div class="flex flex-column">
          <label for="city">Город</label>
          <p-select
            formControlName="city"
            [options]="cities"
            placeholder="Выберите город"
            class="width-30"
            
          />
        </div>
        <div class="flex flex-column">
          <label for="birthday">Номер телефона</label>
          <p-inputmask
            formControlName="phone"
            mask="+7(999) 999-9999"
            placeholder="+7(707) 000-0000"
          />
        </div>
      </div>
    </form>
  </p-panel>
</div>
