<!-- src/app/components/tasks/task-detail/task-detail.component.html -->
<ng-container *ngIf="task$ | async as task">
  <div class="flex justify-content-center m-5">
    <p-panel class="max-w-min w-full" [style]="{ 'max-width': '800px' }">
      <!-- Заголовок -->
      <p class="text-4xl font-bold mt-0 text-900">{{ task.title }}</p>

      <!-- Инфо-блок -->
      <div class="flex gap-8 mb-4">
        <!-- Статус -->
        <div class="flex flex-column gap-2">
          <p class="m-0 text-xl text-500">Мәртебесі</p>
          <p-tag
            [value]="switchStatus(task.status!)"
            [severity]="getSeverity(task.status!)"
          ></p-tag>
        </div>

        <!-- Исполнитель -->
        <div class="flex flex-column gap-2">
          <p class="m-0 text-xl text-500">Орындаушы</p>
          <div class="flex align-items-center gap-2">
            <ng-container *ngIf="task.assignedTo; else noUser">
              <p-avatar
                [image]="task.assignedTo.avatarUrl"
                shape="circle"
              ></p-avatar>
              <p class="m-0 text-xl text-900">
                {{ task.assignedTo.firstName }}
                {{ task.assignedTo.lastName }}
              </p>
            </ng-container>
            <ng-template #noUser>
              <p-avatar icon="pi pi-user"></p-avatar>
              <p class="m-0 text-xl text-900">—</p>
            </ng-template>
          </div>
        </div>

        <!-- Дата -->
        <div class="flex flex-column gap-2">
          <p class="m-0 text-xl text-500">Орындау мерзімі</p>
          @if (task.dueDate) {
          <p class="m-0 text-xl text-900">
            {{ task.dueDate | date : "d MMM, y" }}
          </p>
          } @else { — }
        </div>

        <!-- Приоритет -->
        <div class="flex flex-column gap-2">
          <p class="m-0 text-xl text-500">Басымдық</p>
          <p-tag
            [value]="task.priority"
            [severity]="
              task.priority === Priority.High
                ? 'danger'
                : task.priority === Priority.Medium
                ? 'warn'
                : 'success'
            "
          ></p-tag>
        </div>
      </div>

      <p-divider></p-divider>

      <!-- Описание -->
      <p class="text-2xl font-bold text-900">Сипаттамасы</p>
      <p>{{ task.description || "—" }}</p>

      <p-divider></p-divider>

      <!-- Галерея -->
      <p class="text-2xl font-bold text-900 mb-2">Тіркемелер</p>
      <p-galleria
        *ngIf="images$ | async as images"
        [value]="images"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }"
        (itemClick)="imageClick($any($event).index)"
      >
        <ng-template #item let-item>
          <img [src]="item.itemImageSrc" style="width: 100%" />
        </ng-template>
        <ng-template #thumbnail let-item>
          <img [src]="item.thumbnailImageSrc" class="w-5rem" />
        </ng-template>
      </p-galleria>

      <p-divider></p-divider>

      <!-- task-detail.component.html -->
      <app-task-comments-list
        [taskId]="task.id"
      ></app-task-comments-list>
    </p-panel>
  </div>
</ng-container>
