<p-card>
  <p-scrollpanel [style]="{ width: '100%', height: '60vh' }">
    <p class="text-2xl font-bold mt-0 mb-4">Тапсырма жасау</p>

    <form [formGroup]="taskForm">
      <div class="flex flex-wrap gap-3">
        <div class="flex flex-column gap-3 mb-4 w-25rem">
          <div class="flex flex-column">
            <label class="font-semibold">Атауы*</label>
            <small>(Атау 22 таңбадан аспауы керек)</small>
            <input pInputText formControlName="title" maxlength="22" />
            <small
              *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.errors?.['required']"
              class="text-red-500"
              >Міндетті түрде толтырылуы керек.</small
            >
          </div>

          <div class="flex flex-column">
            <label class="font-semibold">Сипаттама</label>
            <small>(Сипаттамасы 300 таңбадан аспауы керек)</small>
            <textarea
              pTextarea
              formControlName="description"
              rows="5"
              maxlength="300"
            ></textarea>
          </div>

          <div class="flex flex-column">
            <p-select
              formControlName="priority"
              [options]="taskPriority"
              placeholder="Тапсырманың басымдығы"
            />
            <small
              *ngIf="taskForm.get('priority')?.touched && taskForm.get('priority')?.errors?.['required']"
              class="text-red-500"
              >Міндетті түрде таңдалуы керек.</small
            >
          </div>

          <div class="flex flex-column">
            <p-select
              formControlName="assignedTo"
              [options]="users"
              optionLabel="fullName"
              optionValue="id"
              placeholder="Орындаушыны таңдаңыз"
            />

            <small
              *ngIf="taskForm.get('assignedTo')?.touched && taskForm.get('assignedTo')?.errors?.['required']"
              class="text-red-500"
              >Міндетті түрде таңдалуы керек.</small
            >
          </div>
        </div>

        <div class="flex flex-column gap-3 mb-4 w-25rem">
          <div class="flex flex-column gap-3">
            <label class="font-semibold">Мерзімі*</label>
            <p-datepicker
              formControlName="dueDate"
              dateFormat="dd.mm.yy"
              [showIcon]="true"
              [iconDisplay]="'input'"
            />
            <small
              *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.errors?.['required']"
              class="text-red-500"
              >Міндетті түрде таңдалуы керек.</small
            >
          </div>

          <div>
            <div class="field flex flex-column gap-2">
              <label class="font-semibold">Сурет таңданыз</label>
              <input
                #fileInput
                type="file"
                (change)="onFileSelect($event)"
                multiple
                accept="image/*"
                style="display: none"
              />

              <!-- это ваша кастом-кнопка, её можно стилизовать как угодно -->
              <button
                pButton
                type="button"
                severity="contrast"
                icon="pi pi-upload"
                (click)="fileInput.click()"
              >
                Файл таңдау
              </button>
            </div>

            <!-- Список выбранных файлов -->
            <ul *ngIf="uploadedFiles.length > 0" class="file-list">
              <li *ngFor="let file of uploadedFiles; index as i">
                {{ file.name }}
                <button type="button" (click)="removeFile(i)">×</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex justify-content-center gap-4 mt-3">
        <p-button
          label="Бас тарту"
          severity="secondary"
          (onClick)="dialogRef.close()"
        />
        <p-button
          label="Жасау"
          (onClick)="onSubmit()"
          [disabled]="taskForm.invalid"
        />
      </div>
    </form>
  </p-scrollpanel>
</p-card>
