<div class="flex flex-wrap gap-4 justify-content-center mt-5">
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
</div>
