<div class="kanban">
  <div class="kanban-container flex flex-wrap gap-3">
    <p-panel>
      <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
          <p class="text-900 m-0 font-bold">Жаңа</p>
          <p-button
            class="task-add"
            icon="pi pi-plus"
            [rounded]="true"
            severity="success"
            (onClick)="openDialog()"
          ></p-button>
        </div>
      </ng-template>
      <div
        class="kanban-column"
        id="new"
        cdkDropList
        #newList="cdkDropList"
        [cdkDropListData]="new"
        [cdkDropListConnectedTo]="[inProgressList, completedList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of new; track item) {
        <div class="task-box" *ngIf="item.status === 'new'" cdkDrag>
          <app-task-card [item]="item"></app-task-card>
        </div>
        }
      </div>
    </p-panel>
    <p-panel>
      <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
          <p class="text-900 m-0 font-bold">Жұмыс барысында</p>
        </div>
      </ng-template>
      <div
        class="kanban-column"
        id="in_progress"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[newList, completedList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of inProgress; track item) {
        <div class="task-box" *ngIf="item.status === 'in_progress'" cdkDrag>
          <app-task-card [item]="item"></app-task-card>
        </div>
        }
      </div>
    </p-panel>
    <p-panel>
      <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
          <p class="text-900 m-0 font-bold">Орындалды</p>
        </div>
      </ng-template>
      <div
        class="kanban-column"
        id="completed"
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[newList, inProgressList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of completed; track item) {
        <div class="task-box" *ngIf="item.status === 'completed'" cdkDrag>
          <app-task-card [item]="item"></app-task-card>
        </div>
        }
      </div>
    </p-panel>
    <p-panel>
      <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
          <p class="text-900 m-0 font-bold">Мерзімі өтті</p>
        </div>
      </ng-template>
      <div
        class="kanban-column"
        id="overdue"
        cdkDropList
        #overdueList="cdkDropList"
        [cdkDropListData]="overdue"
        [cdkDropListConnectedTo]="[newList, inProgressList, completedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of overdue; track item) {
        <div class="task-box" *ngIf="item.status === 'overdue'" cdkDrag>
          <app-task-card [item]="item"></app-task-card>
        </div>
        }
      </div>
    </p-panel>
  </div>
</div>
