<div class="kanban">
  <div class="kanban-container flex flex-column md:flex-row flex-wrap gap-3 justify-content-center">
    <!-- Новые -->
    <p-panel class="flex-1 min-w-18rem max-w-22rem">
      <ng-template #header>
        <div class="flex align-items-center justify-content-between w-full">
          <p class="text-900 m-0 font-bold">Жаңа</p>
          <p-button
            class="task-add"
            icon="pi pi-plus"
            [rounded]="true"
            severity="success"
            (onClick)="openDialog()"
          ></p-button>
        </div>
      </ng-template>
      <div
        class="kanban-column min-h-20rem flex flex-column gap-2"
        id="new"
        cdkDropList
        #newList="cdkDropList"
        [cdkDropListData]="newTasks()"
        [cdkDropListConnectedTo]="[inProgressList, completedList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of newTasks(); track item.id) {
          <div class="task-box mb-2" cdkDrag>
            <app-task-card [item]="item"></app-task-card>
          </div>
        }
      </div>
    </p-panel>

    <!-- В работе -->
    <p-panel class="flex-1 min-w-18rem max-w-22rem">
      <ng-template #header>
        <p class="text-900 m-0 font-bold">Жұмыс барысында</p>
      </ng-template>
      <div
        class="kanban-column min-h-20rem flex flex-column gap-2"
        id="in_progress"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress()"
        [cdkDropListConnectedTo]="[newList, completedList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of inProgress(); track item.id) {
          <div class="task-box mb-2" cdkDrag>
            <app-task-card [item]="item"></app-task-card>
          </div>
        }
      </div>
    </p-panel>

    <!-- Завершенные -->
    <p-panel class="flex-1 min-w-18rem max-w-22rem">
      <ng-template #header>
        <p class="text-900 m-0 font-bold">Орындалды</p>
      </ng-template>
      <div
        class="kanban-column min-h-20rem flex flex-column gap-2"
        id="completed"
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed()"
        [cdkDropListConnectedTo]="[newList, inProgressList, overdueList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of completed(); track item.id) {
          <div class="task-box mb-2" cdkDrag>
            <app-task-card [item]="item"></app-task-card>
          </div>
        }
      </div>
    </p-panel>

    <!-- Просроченные -->
    <p-panel class="flex-1 min-w-18rem max-w-22rem">
      <ng-template #header>
        <p class="text-900 m-0 font-bold">Мерзімі өтті</p>
      </ng-template>
      <div
        class="kanban-column min-h-20rem flex flex-column gap-2"
        id="overdue"
        cdkDropList
        #overdueList="cdkDropList"
        [cdkDropListData]="overdue()"
        [cdkDropListConnectedTo]="[newList, inProgressList, completedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of overdue(); track item.id) {
          <div class="task-box mb-2" cdkDrag>
            <app-task-card [item]="item"></app-task-card>
          </div>
        }
      </div>
    </p-panel>
  </div>
</div>
