<!-- src/app/components/tasks/task-comments-list/task-comment-card/task-comment-card.component.html -->
<p-card class="comment-card">
  <div>    
    <div class="comment-header flex align-items-center">
      <p-avatar
        [image]="comment.author.avatarUrl"
        size="large"
        shape="circle"
        [routerLink]="['/profiles', comment.author.id]"
        class="cursor-pointer"
      ></p-avatar>
      <div class="comment-meta ml-3">
        <div class="author-name">{{ comment.author.firstName }} {{ comment.author.lastName }}</div>
        <div class="author-info">
          Рөлі: {{ comment.author.role || '—' }}  
          <span class="sep">|</span>  
          Лауазымы: {{ comment.author.position || '—' }}
        </div>
      </div>
      <small class="comment-date ml-auto">{{ formattedDate }}</small>
    </div>
    <div class="p-card-content comment-body">
      {{ comment.content }}
    </div>
  </div>

</p-card>
