<p-drawer
  header="Хабарламалар"
  [(visible)]="visible"
  position="right"
  (onHide)="onDrawerHide()"
  styleClass="w-full md:w-20rem lg:w-30rem surface-50"
  transitionOptions="100ms cubic-bezier(0, 0, 0.2, 1)"
>
  <div class="flex flex-column gap-3">
    <p-card class="notification-card cursor-pointer" routerLink="/projects/:id/tasks">
      <div class="flex flex-row align-items-center gap-3">
        <div class="notification-icon">
          <p-avatar label="N" styleClass="mr-2" size="xlarge" />
        </div>
        <div class="card-content flex flex-column gap-1">
          <p class="notification-header mb-0 mt-1 text-lg font-bold">Notification header</p>
          <p class="notification-describe mb-1 mt-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </p>
        </div>
      </div>
    </p-card>
    <p-card class="notification-card cursor-pointer" routerLink="/projects/:id/tasks">
      <div class="flex flex-row align-items-center gap-3">
        <div class="notification-icon">
          <p-avatar label="N" styleClass="mr-2" size="xlarge" />
        </div>
        <div class="card-content flex flex-column gap-1">
          <p class="notification-header mb-0 mt-1 text-lg font-bold">Notification header</p>
          <p class="notification-describe mb-1 mt-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </p>
        </div>
      </div>
    </p-card>
    <p-card class="notification-card cursor-pointer" routerLink="/projects/:id/tasks">
      <div class="flex flex-row align-items-center gap-3">
        <div class="notification-icon">
          <p-avatar label="N" styleClass="mr-2" size="xlarge" />
        </div>
        <div class="card-content flex flex-column gap-1">
          <p class="notification-header mb-0 mt-1 text-lg font-bold">Notification header</p>
          <p class="notification-describe mb-1 mt-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </p>
        </div>
      </div>
    </p-card>
    <p-card class="notification-card cursor-pointer" routerLink="/projects/:id/tasks">
      <div class="flex flex-row align-items-center gap-3">
        <div class="notification-icon">
          <p-avatar label="N" styleClass="mr-2" size="xlarge" />
        </div>
        <div class="card-content flex flex-column gap-1">
          <p class="notification-header mb-0 mt-1 text-lg font-bold">Notification header</p>
          <p class="notification-describe mb-1 mt-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </p>
        </div>
      </div>
    </p-card>
  </div>
</p-drawer>
