<div
  class="flex flex-column justify-content-center pb-5"
  *ngIf="user$ | async as user"
>
  <ng-container *ngIf="tasksByStatus$ | async as stat">
    <p class="flex justify-content-center mb-0 text-5xl font-bold">
      Қош келдіңіз, {{ user.firstName }} {{ user.lastName }}
    </p>
    <p class="flex justify-content-center mt-1 text-xl text-500">
      Сіздің рөліңіз: {{ user.role }} / белсенді тапсырмалар: {{ stat.total }}
    </p>

    <div class="statistic-list flex gap-3 justify-content-center mb-3">
      <p-card class="stat-card">
        <div class="flex justify-content-center align-item-center mr-3">
          <p-avatar
            icon="pi pi-check"
            class="mr-2 text-green-600"
            size="large"
          />
          <div>
            <p class="my-0 text-900">Орындалды</p>
            <p class="my-0 text-900 font-bold">{{ stat.completed }}</p>
          </div>
        </div>
      </p-card>

      <p-card class="stat-card">
        <div class="flex justify-content-center align-item-center mr-3">
          <p-avatar
            icon="pi pi-clock"
            class="mr-2 text-blue-600"
            size="large"
          />
          <div>
            <p class="my-0 text-900">Жұмыс барысында</p>
            <p class="my-0 text-900 font-bold">{{ stat.in_progress }}</p>
          </div>
        </div>
      </p-card>

      <p-card class="stat-card">
        <div class="flex justify-content-center align-item-center mr-3">
          <p-avatar icon="pi pi-times" class="mr-2 text-red-600" size="large" />
          <div>
            <p class="my-0 text-900">Мерзімі өткен</p>
            <p class="my-0 text-900 font-bold">{{ stat.overdue }}</p>
          </div>
        </div>
      </p-card>
    </div>
  </ng-container>

  <div class="tasks-table flex justify-content-center">
    <p-panel>
      <ng-template #header>
        <div class="flex align-items-center gap-2 ml-3">
          <i class="pi pi-clock text-xl font-bold"></i>
          <p class="m-0 text-900 font-bold text-xl">Соңғы міндеттер</p>
        </div>
      </ng-template>

      <p-table
        [value]="(firstFiveTasks$ | async) || []"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Тапсырма</th>
            <th>Мәртебесі</th>
            <th>Жоба</th>
            <th>Басымдық</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
          <tr routerLink="/task/{{ task.id }}" class="cursor-pointer">
            <td>{{ task.title }}</td>
            <td>
              <p-tag
                [value]="switchStatus(task.status)"
                [severity]="getSeverity(task.status)"
              />
            </td>
            <td>{{ task.project.name }}</td>
            <td>{{ task.priority }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
