<p-avatar-group [pTooltip]="tooltipContent">
  <!-- @for (user of users; track user.id) {
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  }
  <p-avatar label="+2" shape="circle" /> -->
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    shape="circle"
  />
  <p-avatar label="+2" shape="circle" />
</p-avatar-group>
<ng-template #tooltipContent>
  <div class="flex flex-column">
    <!-- @for(user of users; track user.id) {
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      shape="circle"
    />
    <p >имя фамилия</p>
    } -->
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
    <div class="flex align-items-center mt-1">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <p class="m-0 pl-2">имя фамилия</p>
    </div>
  </div>
</ng-template>
