  <p-card>
    <div class="flex align-items-center justify-content-between">
      <p class="text-2xl font-bold m-0">{{ project.name }}</p>
      <p-button
        icon="pi pi-pencil"
        variant="text"
        [raised]="true"
        [rounded]="true"
        (onClick)="openDialog()"
      ></p-button>
    </div>
    <p class="mb-0 mt-2 text-500">
      Мәртебесі:
      <p-tag
        [value]="switchStatus(project.status)"
        [severity]="getSeverity(project.status)"
      />
    </p>
    <p class="description mt-3 mb-1 max-w-18rem h-4rem text-justify" (click)="showFullDesc()">
      {{ project.description }}
    </p>
    <p-dialog header="Жоба сипаттамасы" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
      {{ project.description }}
    </p-dialog>
    <ng-template #footer>
      <div class="flex gap-2 mt-1">
        <a
          routerLink="{{project.id}}/tasks"
          [style]="{ padding: '0.25rem 1rem' }"
          pButton
          [raised]="true"
          severity="warn"
          >Тапсырмаларды қарау</a
        >
        <p-button
          [style]="{ padding: '0.25rem 1rem' }"
          icon="pi pi-trash"
          label="Өшіру"
          severity="danger"
          variant="outlined"
          [raised]="true"
          (onClick)="onDeleteProject($event)"
        ></p-button>
      </div>
    </ng-template>
    <p class="mb-0 mt-2 text-500 text-xs">Құрылды: 20 май, 2025</p>
  </p-card>
